.bookCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.cardButtons {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.bookData {
  margin: 10px;
}
